/************************************************
*** header ***
************************************************/
@font-face {
  font-family: 'Moh';
  font-style: normal;
  font-weight: 400;
  src:url(../fonts/mohsb.otf);
}
@import url(http://fonts.googleapis.com/css?family=Oxygen);
@media (max-width: 992px) {
  .main-header .nav > li > a {
    padding: 22px 7px 0 7px;
    font-size: 12px;
  }
}
nav.menu{
  z-index: 1050;
}
/************************************************
*** navigation ***
************************************************/
*{
  font-family: 'Oxygen', sans-serif;
}
h1,h2,h3{
  font-family: 'Moh', sans-serif;
}
p{
  font-family: 'Oxygen', sans-serif;
}
body{
  background-color: rgb(10, 10, 10);
}
.navbar {
  min-height: 60px;
}
.navbar-custom {
  background-color: #1A1A1A;
}
.navbar-custom .navbar-brand {
  color: #777777;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #777777;
}
.navbar-custom .navbar-nav > li > a {
  color: #777777;
  text-transform: uppercase;
  font-weight: 600;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #333333;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .active > a:hover {
  color: #FFFFFF;
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #888888;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #e7e7e7;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #e7e7e7;
  color: #555555;
}
@media (max-width: 767px) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #777777;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333333;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555555;
    background-color: #e7e7e7;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #777777;
}
.navbar-custom .navbar-link:hover {
  color: #333333;
}
.navbar-custom .btn-link {
  color: #777777;
}
.navbar-custom .btn-link:hover,
.navbar-custom .btn-link:focus {
  color: #333333;
}
.navbar-brand {
  float: left;
  padding: 20px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 60px;
}
@media (min-width: 768px) {  
  .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
/************************************************
*** landing reset style ***
************************************************/
body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
}
h1 {
  font-weight: 300;
}
.lead {
  font-weight: 300;
}
/************************************************
*** promo ***
************************************************/
.promo {
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 61px;
  position: relative;
}
.promo .color-correction {
  position: absolute;
  z-index: 0;
  background-color: rgba(231, 94, 45, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
}
.promo > .container {
  position: relative;
  z-index: 1;
}
.promo .promo-text {
  padding: 60px 0;
  color: #ffffff;
}
.promo .promo-text hr {
  border-top-color: #ffffff;
}
.promo .register {
  padding: 20px;
  margin: 60px 0;
  background-color: rgba(0, 0, 0, 0.43);
  color: #ffffff;
  text-align: center;
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.promo .register .form-control {
  background: rgba(103, 41, 41, 0.29);
  border-color: #ffffff;
  color: #ffffff;
}
.promo .register .form-control::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
.promo .register .form-control:-ms-input-placeholder {
  color: #ffffff;
}
.promo .register .form-control::-webkit-input-placeholder {
  color: #ffffff;
}
.promo .register .dropdown-menu {
  top: 125%;
}
.promo .register .ok {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  border-radius: 3px;
  color: #3c3c3c;
  display: none;
  overflow: hidden;
  padding: 20px;
  text-align: center;
}
.promo .register .ok .icon {
  font-size: 30px;
}
.promo .register.success {
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.promo .register.success .ok {
  display: block;
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.promo .register .form-error {
  background-color: #ffffff;
}
.promo .register .has-error .form-control,
.promo .register .has-error .btn-empty {
  border-color: #e74c3c !important;
}
/************************************************
*** counter ***
************************************************/
.counter {
  padding: 60px 0;
  background-color: #ffffff;
  color: #555555;
  border-bottom: 1px solid #eeeeee;
}
.counter .count-digits {
  text-align: center;
  padding: 15px 0 0;
  position: relative;
}
.counter .count-digits p {
  margin: 0 auto 15px;
  font-size: 36px;
  width: 150px;
  height: 150px;
  line-height: 150px;
  border-radius: 50%;
  border: 1px solid #999999;
  font-weight: 300;
}
.counter .count-digits span {
  display: inline-block;
  margin-bottom: 15px;
}
.counter .btn-empty-inverse {
  min-width: 60px;
}
/************************************************
*** schedule ***
************************************************/
.schedule {
  padding: 60px 0;
}
.schedule .section-heading {
  text-align: center;
  margin-bottom: 60px;
}
.schedule .section-heading h1 {
  margin-top: 0;
}
.schedule .nav-tabs {
  font-size: 18px;
}
.schedule .nav-tabs.nav-justified > li a {
  border: 1px solid transparent;
  color: #52b3d9;
}
.schedule .nav-tabs.nav-justified > li a:hover {
  color: #3c3c3c;
}
.schedule .nav-tabs.nav-justified > li.active > a,
.schedule .nav-tabs.nav-justified > li.active > a:hover,
.schedule .nav-tabs.nav-justified > li.active > a:focus {
  color: #555555;
  background-color: #eeeeee;
  border: 1px solid #eeeeee;
  border-bottom-color: transparent;
  cursor: default;
}
.schedule .tab-content {
  padding: 20px;
  border: 1px solid #eeeeee;
  border-width: 0 1px 1px;
  background-color: #eeeeee;
}
.schedule .tab-content h4 {
  margin: 10px 0;
}
.schedule .panel-group {
  margin-bottom: 0;
}
.schedule .panel-title > a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
}
.schedule .panel-default {
  border-color: #52b3d9;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.schedule .panel-default > .panel-heading {
  background-color: #52b3d9;
}
/************************************************
*** theses ***
************************************************/
.theses {
  padding: 60px 0;
  background-color: #36d7b7;
  color: #ffffff;
}
.theses .icon-wrap {
  width: 100px;
  height: 100px;
  line-height: 100px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  margin: 20px auto;
}
.theses p {
  margin-bottom: 20px;
}
.theses hr {
  border-top-color: #ffffff;
}
/************************************************
*** multimedia ***
************************************************/
.multimedia {
  padding: 60px 0;
  color: #ffffff;
  background-color: #fd8a21;
}
.multimedia hr {
  border-top-color: #ffffff;
}
.multimedia .video {
  padding: 20px;
  border-radius: 3px;
  background-color: #f5f5f5;
}
/************************************************
*** photo ***
************************************************/
.photo {
  padding: 60px 0;
}
.photo hr {
  border-top-color: #3c3c3c;
}
.photo .photo-wrapper {
  margin-bottom: 20px;
}
/************************************************
*** speakers ***
************************************************/
.speakers {
  padding: 60px 0;
}
.speakers .section-heading {
  text-align: center;
}
.speakers .section-heading h1 {
  margin-top: 0;
}
.speakers .speaker:hover .speaker-contacts.left-top {
  left: 0;
  top: 0;
}
.speakers .speaker:hover .speaker-contacts.left-bottom {
  left: 0;
  bottom: 0;
}
.speakers .speaker:hover .speaker-contacts.right-bottom {
  right: 0;
  bottom: 0;
}
.speakers .speaker:hover .speaker-contacts.right-top {
  right: 0;
  top: 0;
}
.speakers .speaker:hover .speaker-img img {
  border-color: #36d7b7;
}
.speakers .speaker-img {
  width: 70%;
  padding: 30px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}
.speakers .speaker-img img {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid #eeeeee;
  display: inline-block;
  max-width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
}
.speakers .speaker-contacts {
  text-decoration: none;
  color: #ffffff;
  background-color: #36d7b7;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  display: block;
  text-align: center;
  z-index: 1;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.speakers .speaker-contacts i {
  line-height: 50px;
}
.speakers .speaker-contacts.left-top {
  left: 50%;
  top: 50%;
}
.speakers .speaker-contacts.left-bottom {
  left: 50%;
  bottom: 50%;
}
.speakers .speaker-contacts.right-bottom {
  right: 50%;
  bottom: 50%;
}
.speakers .speaker-contacts.right-top {
  right: 50%;
  top: 50%;
}
.speakers .speaker-desc {
  text-align: center;
  padding: 0 20% 20px;
}
.speakers .speaker-desc p {
  font-size: 18px;
  margin-top: 10px;
}
/************************************************
*** testimonials ***
************************************************/
.testimonials {
  padding: 60px 0;
  position: relative;  
  background-repeat: no-repeat;
  background-position: center center;  
  background-size: 100% auto;
}
.testimonials .color-correction {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(231, 76, 60, 0.9);
}
.testimonials .carousel-caption {
  position: relative;
  left: auto;
  right: auto;
  padding-bottom: 0;
}
.testimonials .carousel-indicators {
  bottom: -30px;
}
.testimonials .carousel-indicators li {
  height: 10px;
  width: 20px;
}
.testimonials .carousel-indicators li.active {
  height: 10px;
  width: 20px;
  margin: 1px;
}
.testimonials blockquote {
  border-left-width: 0;
  margin: 0;
  text-shadow: none;
  font-size: 22px;
  font-weight: 300;
}
.testimonials blockquote footer {
  color: #ffffff;
}
@media (max-width: 768px) {
  .testimonials {
    background-image: none;
  }
}
/************************************************
*** price ***
************************************************/
.price {
  padding: 60px 0;
}
.price .section-heading {
  text-align: center;
  margin-bottom: 60px;
}
.price .section-heading h1 {
  margin-top: 0;
}
.price .row > div {
  padding-bottom: 20px;
}
.price .price-header {
  padding: 20px 0 10px;
  text-align: center;
  color: #ffffff;
}
.price .price-header h4 {
  margin: 0;
  font-size: 24px;
  background: rgba(0, 0, 0, 0.1);
  line-height: 2;
}
.price .price-header p {
  font-size: 30px;
  display: inline-block;
  border: 1px solid #ffffff;
  margin: 10px 0 0;
  padding: 7px 12px;
  border-radius: 3px;
}
.price .list-group {
  -webkit-box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 0;
}
.price .list-group li {
  border-width: 0;
}
.price .list-group li:before,
.price .list-group li:after {
  content: " ";
  display: table;
}
.price .list-group li:after {
  clear: both;
}
.price .list-group li:nth-child(even) {
  background-color: #eeeeee;
}
.price .list-group li p {
  margin-bottom: 0;
  font-size: 16px;
}
/************************************************
*** faq ***
************************************************/
.faq {
  padding: 60px 0;
  background-color: #0A0A0A;
}
.faq h1 {
  margin-top: 40px;
}
.faq hr {
  border-top-color: #999999;
}
.faq .panel-group {
  margin-bottom: 0;
}
.faq .panel {
  padding: 0;
  background: #FFF;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.faq .panel-collapse p {
  padding: 7px 12px;
}
.faq a[data-toggle] {
  display: block;
  color: #000;
  border-radius: 3px;
  font-size: 18px;
  padding: 7px 12px;
  text-decoration: none;
}
/************************************************
*** partners ***
************************************************/
.partners {
  padding: 60px 0;
}
.partners .section-heading {
  text-align: center;
  margin-bottom: 60px;
}
.partners .section-heading h1 {
  margin-top: 0;
}
.partners .list-inline li {
  width: 16.66666%;
}
@media (max-width: 768px) {
  .partners .list-inline li {
    width: 33.333333%;
  }
}
.partners .list-inline li img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}
/************************************************
*** subscribe ***
************************************************/
.subscribe {
  position: absolute;
  width: 100%;
  z-index: 100;
  top: 20px;
}
.subscribe .input-group {
  padding-top: 15px;
  padding-bottom: 7px;
}
.subscribe .form-control {
  border-color: #5c97bf;
  background-color: #5c97bf;
  color: #ffffff;
}
.subscribe .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.subscribe .input-group-addon {
  background-color: #5c97bf;
  border-color: #5c97bf;
  color: #ffffff;
}
.subscribe .form-wrapper {
  position: relative;
  -webkit-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.subscribe .form-wrapper .ok {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #5c97bf;
  -webkit-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  color: #ffffff;
  display: none;
  overflow: hidden;
  padding: 20px;
  text-align: center;
}
.subscribe .form-wrapper .ok h3 {
  margin: 10px 0;
}
.subscribe .form-wrapper.success {
  -webkit-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.subscribe .form-wrapper.success .ok {
  display: block;
  -webkit-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
  z-index: 9;
}
/************************************************
*** google map ***
************************************************/
.map {
  position: relative;
}
#map {
  height: 740px;
}
.street-view {
  height: 250px;
}
/************************************************
*** location ***
************************************************/
.location {
  position: absolute;
  z-index: 100px;
  bottom: 20px;
  width: 100%;
}
.location .popover {
  position: relative;
  display: block;
  width: 100%;
  max-width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.location .popover i {
  min-width: 40px;
}
.location .popover li {
  font-size: 20px;
  line-height: 2;
}
.location .popover .popover-title {
  font-size: 24px;
  text-align: center;
  padding: 20px 14px;
}
@media (max-width: 768px) {
  .location .street-view {
    height: 200px;
    margin-bottom: 10px;
  }
  .location .popover .popover-title {
    padding: 5px 7px;
    font-size: 14px;
  }
  .location .popover li {
    font-size: 14px;
    line-height: 1.6;
  }
}
/************************************************
*** main footer ***
************************************************/
.main-footer {
  padding: 30px 0;
  color: #ffffff;
  background-color: #000;
}
.main-footer .social ul {
  margin: 0 0 20px;
}
.main-footer .social li {
  text-align: center;
}
.main-footer .social a {
  cursor: pointer;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  border-radius: 50%;
  border: 1px solid #ffffff;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.main-footer .social a:hover {
  color: #DB0707;
  border-color: #DB0707;
}
/************************************************
*** preloader ***
************************************************/
.preloader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 9999;
}
.preloader .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -30px;
  margin-top: -29px;
}
/************************************************
*** helper classes ***
************************************************/
/***** margins *****/
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt25 {
  margin-top: 25px;
}
.mt30 {
  margin-top: 30px;
}
.mt35 {
  margin-top: 35px;
}
.mt40 {
  margin-top: 40px;
}
.mt45 {
  margin-top: 45px;
}
.mt50 {
  margin-top: 50px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb25 {
  margin-bottom: 25px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb35 {
  margin-bottom: 35px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb45 {
  margin-bottom: 45px;
}
.mb50 {
  margin-bottom: 50px;
}
.mmt5 {
  margin-top: -5px;
}
.mmt10 {
  margin-top: -10px;
}
.mmt15 {
  margin-top: -15px;
}
.mmt20 {
  margin-top: -20px;
}
.mmb5 {
  margin-bottom: -5px;
}
.mmb10 {
  margin-bottom: -10px;
}
.mmb15 {
  margin-bottom: -15px;
}
.mmb20 {
  margin-bottom: -20px;
}
/***** base text colors *****/
.primary-color {
  color: #52b3d9;
}
.success-color {
  color: #36d7b7;
}
.info-color {
  color: #5c97bf;
}
.danger-color {
  color: #e74c3c;
}
.warning-color {
  color: #fd8a21;
}
/***** base bg colors *****/
.primary-bg {
  background-color: #52b3d9;
}
.success-bg {
  background-color: #36d7b7;
}
.info-bg {
  background-color: #5c97bf;
}
.danger-bg {
  background-color: #e74c3c;
}
.warning-bg {
  background-color: #fd8a21;
}
.default-bg {
  background-color: #eeeeee;
}
.body-bg {
  background-color: #ffffff;
}
.gray-bg {
  background-color: #eeeeee;
}
/***** remove scroll *****/
.remove-scroll {
  overflow: hidden;
}
.grid {
    overflow: hidden;
    margin: 0;
    padding: 0 0 0 0;
    width: 100%;
    list-style: none;
    text-align: center;
}
/* Common style */
.grid figure {
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    margin: -0.20em;
    width: 33.433%;
    height: 400px;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}
.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    opacity: 0.8;
}
.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.grid figure figcaption,
.grid figure a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}
.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}
.grid figure h2 span { font-weight: 800 }
.grid figure h2,
.grid figure p { margin: 0 }
.grid figure p {
    letter-spacing: 1px;
    font-size: 100%;
    margin-top: 40px;
}
/**************************
**** Portfolio Effects ****
**************************/
figure.effect-portfolio { background: rgba(0, 0, 0, 1) }
figure.effect-portfolio img { 
    min-width: 100%;
    height: -webkit-calc(100% + 40px);
    height: calc(100% + 40px);
}
figure.effect-portfolio figcaption { padding: 3em }
figure.effect-portfolio figcaption::before,
figure.effect-portfolio figcaption::after {
    position: absolute;
    content: '';
    opacity: 0;
}
figure.effect-portfolio figcaption::before {
    top: 50px;
    right: 30px;
    bottom: 50px;
    left: 30px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
figure.effect-portfolio figcaption::after {
    top: 30px;
    right: 50px;
    bottom: 30px;
    left: 50px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
}
figure.effect-portfolio h2 {
    padding-top: 26%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}
figure.effect-portfolio p {
    padding: 0.5em 2em;
    text-transform: none;
    opacity: 0;
    -webkit-transform: translate3d(0,-10px,0);
    transform: translate3d(0,-10px,0);
}
figure.effect-portfolio img,
figure.effect-portfolio h2 {
    -webkit-transform: translate3d(0,-30px,0);
    transform: translate3d(0,-30px,0);
}
figure.effect-portfolio img,
figure.effect-portfolio figcaption::before,
figure.effect-portfolio figcaption::after,
figure.effect-portfolio p {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}
figure.effect-portfolio:hover img {
    opacity: 0.7;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
figure.effect-portfolio:hover figcaption::before,
figure.effect-portfolio:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
figure.effect-portfolio:hover h2,
figure.effect-portfolio:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
figure.effect-portfolio:hover h2 { color: #fed136 }
figure.effect-portfolio:hover figcaption::after,
figure.effect-portfolio:hover h2,
figure.effect-portfolio:hover p,
figure.effect-portfolio:hover img {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}
@media screen and (max-width: 69.5em) { 
    .grid figure { width: 50% }
    .grid figure figcaption { font-size: 120% }
}
.title{
  text-align: center;
  color: #FFF;
}
.faqtext{
  color:#FFF;
}
th,tfoot td{
  font-family: 'Moh', sans-serif;
  font-size: 24px;
}
td{
  font-size: 18px;
}
.btn-sm{
  font-size: 15px;
}
.og-details{
  color: black;
}
.grid figure.small{
    width: 25%;
    height: 300px;
}
.tt-dropdown-menu {
  width: 100%;
  margin-top: 12px;
  padding: 8px 0;
  padding-left: 10px;
  background-color: #1A1A1A;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  color: white;
}
.navbar-custom .navbar-nav > li > a{
  cursor: pointer;
}
.banner{
  width:100%;height:80px;background-repeat: no-repeat;background-position:50% 50%;background-size: contain;
}
@media screen and (max-width: 41.5em) { 
    .grid figure { width: 100% }
    .grid figure.small {width: 100%; height: 400px}
}
/*.footer {
  position: relative;
  bottom: 0;
  width: 100%;
}*/
.inputprin{
  background: rgba(103, 41, 41, 0.29);
  border-color: #ffffff;
  color: #ffffff;
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px; 
}
li.sideb{
  padding: 10px;
}
li.sideb:hover{
  background-color: #272727;
}
div.pag:hover{
  opacity: .5;
}