<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Sport Record</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/linecons.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/pustyle.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/animate.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap-select.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/main.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/component.css">
	<link rel="icon" href="{{STATIC_URL}}img/logo.png">
</head>
<body>

	{% if not user.is_authenticated %}
	<nav class="menu slide-menu-right">
		<ul>
			<li><button class="close-menu"><i class="fa fa-fw fa-reply"></i></button></li>
			<li><h2 style="color:white">Inicia Sesion</h2></li>
			<li style="width:75%;margin-left:auto;margin-right:auto;">
				<form id="registrationForm" action="/login/" method="post">
					{% csrf_token %}
					<div class="form-group">
						<input type="email" name="email" class="form-control input-md" placeholder="Correo" required>
					</div>
					<div class="form-group">
						<input type="password" name="password" class="form-control input-md" placeholder="Contraseña" required>
					</div>
					<button type="submit" class="btn btn-success btn-md"><i class="fa fa-fw fa-user"></i>Ingresar</button>
					<br /><br/>
					<!--<a href="/registro" class="btn btn-default btn-md btn-registro">Registrate</a>-->
				</form>
				<p style="color:whitesmoke">¿Aún no tienes cuenta?</p>
				<a href="/registro/"><button class="btn btn-default btn-md btn-registro">Registrate</button></a>
			</li>
		</ul>
	</nav>
	{% else %}
	<nav class="menu slide-menu-right">
		<ul>
			<li><button class="close-menu"><i class="fa fa-fw fa-reply"></i></button></li>
			<li><h2 style="color:white">Bienvenido {{ user.username }}</h2></li>
			<a href="/checkout/"><li class="sideb"><i class="fa fa-fw fa-shopping-cart"></i>( <span id="cantCar">{{Carrito.count}}</span> )</li></a>
			<a href="/mis-fotos/"><li class="sideb">Mis Fotos</li>
			<a href="/pedidos/"><li class="sideb">Pedidos</li>
			<a href="/mi-perfil/"><li class="sideb">Configuración de la Cuenta</li>
			<li style="width:75%;margin-left:auto;margin-right:auto;">					
				<a href="/logout/"><button class="btn btn-md btn-danger btn-registro">Cerrar Sesion</button></a>
			</li>
		</ul>
	</nav>
	{% endif %}



	<header class="main-header">
		<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/"><img src="{{STATIC_URL}}img/logo.png" style="margin-top:-11px;"></a>
				</div>
				<div class="collapse navbar-collapse" id="navbar-collapse">
					<ul class="nav navbar-nav navbar-right" id="nav">
						<li class="active"><a href="/">Home</a></li>
						<li><a href="/categorias">Categorías</a></li>
						<li><a href="/eventos">Eventos</a></li>
						<li><a href="/servicios">Servicios</a></li>
						<li><a href="/nosotros">Nosotros</a></li>
						{% if not user.is_authenticated %}
						<li>
							<a class="nav-toggler toggle-slide-right"><i class="fa fa-fw fa-user"></i>Log-in</a>
						</li>
						{% else %}
						<li>
							<a class="nav-toggler toggle-slide-right"><i class="fa fa-fw fa-user"></i>{{ user.username }}</a>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>
	</header>

	{% block contenido %}{% endblock %}

	<footer class="main-footer footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 social text-center">
					<ul class="list-inline">
						<li>
							<a href=""><i class="fa fa-twitter-square"></i></a>
							<a href=""><i class="fa fa-facebook"></i></a>
							<a href=""><i class="fa fa-youtube"></i></a>
							<a href=""><i class="fa fa-envelope"></i></a>
						</li>
					</ul>
				</div>
				<div class="col-sm-12 text-center">
					<span>All rights reserved</span>
				</div>
			</div>
		</div>
	</footer>
	<script src="{{STATIC_URL}}js/main.js" type="text/javascript"></script>
	<script src="{{STATIC_URL}}js/modernizr-latest.js"></script>
	<script src="{{STATIC_URL}}js/jquery-1.11.0.min.js"></script>
	<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
	<script src="{{STATIC_URL}}js/bootstrap-select.min.js"></script>
	<script src="{{STATIC_URL}}js/jquery.scrollTo.js"></script>
	<script src="{{STATIC_URL}}js/jquery.nav.js"></script>
	<script src="{{STATIC_URL}}js/countdown.js"></script>
	<script src="{{STATIC_URL}}js/jquery.placeholder.js"></script>
	<script src="{{STATIC_URL}}js/jquery.form-validator.min.js"></script>
	<script src="{{STATIC_URL}}js/wow.min.js"></script>
	<script src="{{STATIC_URL}}js/classie.js"></script>
	<script src="{{STATIC_URL}}js/nav.js"></script>
	<script src="{{STATIC_URL}}js/grid.js"></script>
	<script src="{{STATIC_URL}}js/typeahead.js"></script>


	{% if mensaje %}
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<p>&nbsp;</p>				
				</div>
				<div class="modal-body">
					<center><strong>{{mensaje|safe}}</strong></center>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$('#myModal').modal('show');
	</script>
	{% endif %}

	{% block scripts %}{% endblock %}
</body>
</html>