{% extends 'base.html' %}


{% block contenido %}
<div class="title" style="margin-top:95px;">
	<h1>Resultados de la Busqueda</h1>
	<p class="lead" style="background-color:whitesmoke;display:inline-block;color:black">&nbsp;{{titulo}}&nbsp;</p>
</div>
<div class="catalogo">
	<div class="row">
		<div class="container">
			<div class="main">
				<ul id="og-grid" class="og-grid">
					{% for foto in fotos %}
					<li>
						<a data="{{foto.pk}}" href="#" data-largesrc="{{foto.thumbnail.url}}" data-title="{{foto.nombre}}" data-description="<h4>Precio: ${{foto.precio}} MX</h4><h4>Tamaño: {{foto.ancho}}x{{foto.alto}}px</h4>">
							<img src="{{foto.thumbnail.url}}" width="250" heigth="250" alt="img01"/>
						</a>
					</li>
					{% endfor %}
				</ul>
				<center>
					<nav>
						<ul class="pagination">
							{% if fotos.has_previous %}
								<li>
									<a href="/buscar/?page={{fotos.previous_page_number}}&nombre={{nombre}}&folio={{folio}}&evento={{evento}}" aria-label="Previous">
										<span aria-hidden="true">&laquo;</span>
									</a>
								</li>
							{% else %}
								<li class="disabled">
									<a href="#" arial-label="Previous">
										<span aria-hidden="true">&laquo;</span>
									</a>
								</li>
							{% endif %}

							{% for p in fotos.paginator.page_range %}
								{% if fotos.number == p %}
									<li class="active"><a href="#">{{p}} <span class="sr-only">{{p}}</span></a></li>
								{% else %}
									<li><a href="/buscar/?page={{p}}&nombre={{nombre}}&folio={{folio}}&evento={{evento}}">{{p}}</a></li>
								{% endif %}
							{% endfor %}

							{% if fotos.has_next %}
							<li>
								<a href="/buscar/?page={{fotos.next_page_number}}&nombre={{nombre}}&folio={{folio}}&evento={{evento}}" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
							{% else %}
							<li class="disabled">
								<a href="#" arial-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
							{% endif %}
							</li>
						</ul>
					</nav>
				</center>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="myModala" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<p>&nbsp;</p>
			</div>
			<div class="modal-body">
				<center><strong id="mensaje_modal"></strong></center>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block scripts %}
<script type="text/javascript">
	$(function(){
		Grid.init(); 
	});
	var comprarFoto = function (el){
		{% if request.user.is_authenticated %}
		var product_id = $(el).attr('data');
		$.post('/add/', {'csrfmiddlewaretoken': "{{csrf_token}}", 'product_id': product_id}, function (data){
			$('#mensaje_modal').html(data);
			$('#myModala').modal('show');

			if (data.indexOf('encuentra') < 0)
			{				
				var cant = parseInt($('#cantCar').text());
				cant++;
				$('#cantCar').text(cant);
			}
		});
		{% else %}
			$('#mensaje_modal').html('Debes estar logueado!');
			$('#myModala').modal('show');
		{% endif %}
	};
</script>
{% endblock %}