{% extends 'base.html' %}

{% block contenido %}
<div class="port" style="margin-top:95px;margin-bottom:30px">
	<div class="title">
		<h1>Categorias</h1>
		<p class="lead">Revisa todas nuestras categorías</p>
	</div>
	<section id="portfolio" class="grid">
		{% for categoria in categorias %}
		<a href="/categoria/{{categoria.slug}}/">
			<figure class="effect-portfolio small wow fadeIn animated" data-wow-duration="1s" style="visibility: visible; -webkit-animation: fadeIn 1s;">
				<img src="{{ categoria.imagen.url }}">
				<figcaption>
					<h2>{{ categoria.nombre }}</h2>
					<p>Visita esta Sección</p>
				</figcaption>  
			</figure>
		</a>
		{% endfor %}
	</section>
</div>
{% endblock %}