{% extends 'base.html' %}

{% block contenido %}
<div style="padding-top:75px">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<center>
					<h1 style="color:white">
						Carrito
					</h1>
				</center>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12">
				<div class="table-responsive">
					<table class="table table-hover table-bordered">
						<thead style="background-color:whitesmoke;">
							<tr>
								<th>Nombre</th><th>Foto</th><th>Precio</th><th></th>
							</tr>
						</thead>
						<tbody style="background-color:rgb(231, 231, 231);">
							{% for foto in fotos %}
							<tr>
								<td>{{ foto.nombre }}</td>
								<td><img src="{{ foto.thumbnail.url }}" width="100" /></td>
								<td>$ {{ foto.precio }}</td>
								<td><button onclick="comprarFoto(this);" data="{{foto.pk}}" type="button" class="btn btn-danger">Remover</button></td>
							</tr>
							{% endfor %}
							<tr>
								<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
							</tr>
							<tr>
								<td colspan="2">Total: </td>
								<td>$ {{total}}</td>
								{% if total > 0 %}
									<td><a href="/checkout/pagar/" class="btn btn-success">Pagar</a></td>
								{% else %}
									<td>&nbsp;</td>
								{% endif %}
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	var comprarFoto = function (el){
		var product_id = $(el).attr('data');
		$.post('/remove/', {'csrfmiddlewaretoken': "{{csrf_token}}", 'product_id': product_id}, function (data){
			window.location.reload();
		});
	};
</script>
{% endblock %}