{% extends 'base.html' %}

{% block contenido %}
<div style="padding-top:75px">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<center>
					<h1 style="color:white">
						Forma de Pago
					</h1>
				</center>
			</div>
		</div>
		
		<div id="pagar_" class="row">
			<div class="col-sm-6">
				<div class="radio">
					<label>
						<input type="radio" name="modo_compra" value="paypal">
						<img src="{{STATIC_URL}}img/paypal-logo.png" style="max-width: 300px;">
					</label>
				</div>
			</div>
			<div class="col-sm-6">
				<div style="radio">
					<label>
						<input type="radio" name="modo_compra" value="payu">
						<img src="{{STATIC_URL}}img/pago-payu.jpg" style="max-width: 300px;">
					</label>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}