<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Sport Record</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="{{BASE}}/static/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{BASE}}/static/css/linecons.css">
	<link rel="stylesheet" type="text/css" href="{{BASE}}/static/css/pustyle.css">
	<link rel="stylesheet" type="text/css" href="{{BASE}}/static/css/animate.css">
	<link rel="stylesheet" type="text/css" href="{{BASE}}/static/css/bootstrap-select.css">
	<link rel="stylesheet" type="text/css" href="{{BASE}}/static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{BASE}}/static/css/main.css">
	<link rel="stylesheet" type="text/css" href="{{BASE}}/static/css/component.css">
</head>
<body>

	<div class="carcheck" style="padding-top:75px">
		<div class="container">
			<center><h1 style="color:white">Pedidos Realizados<i class="fa fa-fw fa-check-circle-o "></i></h1></center>
			<div class="table-responsive">
				<table class="table table-hover table-bordered">
					<thead style="background-color:whitesmoke;">
						<tr>
							<th>No. de Pedido</th><th>Fecha</th><th>Estado</th><th>Tipo de Pago</th><th>Total</th>
						</tr>
					</thead>
					<tbody style="background-color:rgb(231, 231, 231);">
						{% for p in pedidos %}
						<tr>
							<td>{{p.pk}}</td>
							<td>{{p.fecha}}</td>
							<td><span class="label label-success">{{p.pagado|yesno:'PAGADO,NO PAGADO'}}</span></td>
							<td>{{p.tipo_pago}}</td>
							<td>${{p.foto.precio}} MX</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<footer class="main-footer footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 social text-center">
					<ul class="list-inline">
						<li>
							<a href=""><i class="fa fa-twitter-square"></i></a>
							<a href=""><i class="fa fa-facebook"></i></a>
							<a href=""><i class="fa fa-youtube"></i></a>
							<a href=""><i class="fa fa-envelope"></i></a>
						</li>
					</ul>
				</div>
				<div class="col-sm-12 text-center">
					<span>All rights reserved</span>
				</div>
			</div>
		</div>
	</footer>

</body>
</html>