{% extends 'base.html' %}


{% block contenido %}
<div class="title" style="margin-top:95px;">
	<h1>{{titulo}}</h1>
</div>
<div class="catalogo">
	<div class="row">
		<div class="container">
			<div class="main">
				<ul id="og-grid" class="og-grid">
					{% for foto in fotos %}
						<li>
							<a data="{{foto.pk}}" href="#" data-largesrc="{{foto.thumbnail.url}}" data-title="{{foto.nombre}}" data-description="<h4>Precio: ${{foto.precio}} MX</h4><h4>Tamaño: {{foto.ancho}}x{{foto.alto}}px</h4>">
								<img src="{{foto.thumbnail.url}}" width="250" heigth="250" alt="{{foto.nombre}}"/>
							</a>
						</li>
					{% endfor %}
				</ul>
				{% if fotos.num_pages > 1 %}
				<center>
					<nav>
						<ul class="pagination">
							<li class="disabled">
								{% if fotos.has_previous %}
									<a href="/evento/{{evento}}/?page={{fotos.previous_page_number}}" aria-label="Previous">
								{% else %}
									<a href="#" arial-label="Previous">
								{% endif %}
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>

							{% for p in fotos.page_range %}
								{% if fotos.number == p %}
									<li class="active"><a href="#">{{p}} <span class="sr-only">(current)</span></a></li>
								{% else %}
									<li><a href="/evento/{{evento}}/?page={{p}}">{{p}}</a></li>
								{% endif %}
							{% endfor %}

							<li>
								{% if fotos.has_next %}
									<a href="/evento/{{evento}}/?page={{fotos.next_page_number}}" aria-label="Next">
								{% else %}
									<a href="#" arial-label="Next">
								{% endif %}
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</nav>
				</center>
				{% endif %}
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="myModala" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<p>&nbsp;</p>
			</div>
			<div class="modal-body">
				<center><strong id="mensaje_modal"></strong></center>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block scripts %}
<script type="text/javascript">
	$(function(){
		Grid.init(); 

	});
	var comprarFoto = function (el){		
		{% if request.user.is_authenticated %}
		var product_id = $(el).attr('data');
		$.post('/add/', {'csrfmiddlewaretoken': "{{csrf_token}}", 'product_id': product_id}, function (data){
			$('#mensaje_modal').html(data);
			$('#myModala').modal('show');

			if (data.indexOf('encuentra') < 0)
			{				
				var cant = parseInt($('#cantCar').text());
				cant++;
				$('#cantCar').text(cant);
			}
		});
		{% else %}
			$('#mensaje_modal').html('Debes estar logueado!');
			$('#myModala').modal('show');
		{% endif %}
	};

	/*$(document).on('ready', function(){
		$('li>a>img').height(187);
	});*/
	
</script>
{% endblock %}