{% extends 'base.html' %}

{% block contenido %}
<div class="carcheck" style="padding-top:75px">
	<div class="container">
		<center><h1 style="color:white">Pedidos Realizados<i class="fa fa-fw fa-check-circle-o "></i></h1></center>
		<div class="table-responsive">
			<form method="post">
			<table class="table table-hover table-bordered">
				<thead style="background-color:whitesmoke;">
					<tr>
						<th style="width:7%;">Foto</th><th>No. de Pedido</th><th>Evento</th><th></th>
					</tr>
				</thead>
				<tbody style="background-color:rgb(231, 231, 231);">
					{% for compra in compras %}
					<tr>
						<td><img src="{{compra.foto.thumbnail.url}}" style="width:100%;"></td>
						<td>{{compra.pk}}</td>
						<th>{{compra.foto.evento.nombre}}</th>
						<td><button name="download" id="{{compra.foto.pk}}" class="btn btn-info btn-sm">Descargar</button></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	$('button[name="download"]').on('click', function (e){
		e.preventDefault();
		var foto_id = $(this).attr('id');
		window.location.href = '/descargar/?foto_id=' + foto_id;
	});
</script>
{% endblock %}