{% extends 'base.html' %}


{% block contenido %}
<div class="promo" id="home" style="background-image:url({{STATIC_URL}}img/fond.jpg);">
	<div class="color-correction"></div> 
	<div class="container">
		<div class="row">
			<div class="col-md-6 wow fadeInUp animated" data-wow-duration="2s" data-wow-animation-name="fadeInUp" style="visibility: visible; -webkit-animation: fadeInUp 2s;">
				<div class="promo-text">
					<h1 style="background-color: rgba(0, 0, 0, 0.56);
					display: inline;
					font-size:45px;">Cubrimos Todos los Eventos Deportivos
				</h1>
				<hr />
				<p class="lead">Busca tus fotos de los eventos eventos deportivos
					en los que haz participado en el estado de Sinaloa
					Compra las fotos que mas te gusten o descarga
					los paquetes promocionales que tenemos para ti.
				</p>
			</div>
		</div>
		<div class="col-md-4 col-md-offset-2 wow fadeInDown animated" data-wow-duration="2s" data-wow-animation-name="fadeInDown" style="visibility: visible; -webkit-animation: fadeInDown 2s;">
			<div class="register">
				<h2 style="margin-top:15px;margin-bottom:-2px;font-size:35px">Busca tus Fotos</h2>
				<p style="font-size:18px">Ingresa tus datos</p>
				<form id="searchForm" method="get" action="/buscar/">
					<div class="form-group">
						<input type="text" name="nombre" class="form-control input-lg" placeholder="Nombre">
					</div>
					<div class="form-group">
						<input type="text" name="folio" class="form-control input-lg inputprin" placeholder="Numero de Folio">
					</div>
					
					<div class="form-group">
						<select class="form-control btn-group-lg selectpicker" name="evento">
							<option value="" selected="">Seleccione el evento</option>
							{% for evento in eventos %}
							<option value="{{evento.slug}}">
								{{evento.nombre}} - {{ evento.fecha|date:'F - Y' }} 
							</option>
							{% endfor %}
						</select>
					</div>
					<button type="submit" class="btn btn-danger btn-lg"><i class="fa fa-fw fa-search"></i> Buscar</button>
				</form>
			</div>
		</div>
	</div>
</div>
</div>
<div class="categorias" style="padding-top:30px;margin-bottom:5px;">
	<div class="container">
		<div class="row">
			{% for banner in banners %}
			<div class="col-sm-4">
				<a href="{{ banner.url|default:'#' }}">
					<div class="banner" style="background-image:url('{{ banner.imagen.url }}');"></div>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

<div class="port" style="padding-top:20px;">
	<div class="title">
		<h1>Categorias</h1>
		<p class="lead">Revisa nuestras categorías mas populares</p>
	</div>
	<section id="portfolio" class="grid">

		{% for categoria in categorias %}
		<a href="/categoria/{{categoria.slug}}/">
			<figure class="effect-portfolio wow fadeIn animated" data-wow-duration="1s" style="visibility: visible; -webkit-animation: fadeIn 1s;">
				<img src="{{ categoria.imagen.url }}">
				<figcaption>
					<h2>{{ categoria.nombre }}</h2>
					<p>Visita esta Sección</p>
				</figcaption>
			</figure>
		</a>
		{% endfor %}

	</section> 
</div>

<div class="faq" id="faqSection">
	<div class="container">
		<div class="row">
			<div class="col-md-4 wow fadeInLeft faqtext" data-wow-animation-name="fadeInLeft">
				<h1>FAQ</h1>
				<p class="lead">Lorem ipsum dolor sit amet</p>
				<hr>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, officiis, nisi temporibus reiciendis possimus inventore fugit. Natus, omnis, earum consectetur aperiam harum sequi qui soluta deserunt provident maxime voluptate dolores.</p>
			</div>
			<div class="col-md-8 wow fadeInRight" data-wow-animation-name="fadeInRight">

				<div class="panel-group" id="faq">
					{% for faq in faqs %}
					<div class="panel">
						<a data-toggle="collapse" data-parent="#faq" href="#faq1">
							{{ faq.pregunta }}
						</a>
						<div id="faq1" class="panel-collapse collapse">
							{{ faq.respuesta|safe }}
						</div>
					</div>
					{% endfor %}						
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}