{% extends 'base.html' %}

{% block contenido %}
<div class="title" style="margin-top:95px;">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>{{ titulo }}</h1>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12" style="padding-left:5%;padding-right:5%;">
				<p style="font-size:1.5em">
					{{ mensaje_info }}
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}