{% extends 'base.html' %}

{% block contenido %}
<div style="padding-top:75px">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <center><h1 style="color:white">
          {% if categoria.nombre %}
          Eventos de '{{categoria.nombre }}'
          {% else %}
          Eventos
          {% endif %}
          </i>
        </h1></center>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12" style="margin-bottom:20px">
        <form method="get" action="
        {% if categoria.nombre %}
          /categoria/{{categoria.slug}}/q
        {% else %}
          /eventos/q
        {% endif %}
        ">
          <div class="form-group col-sm-3">
            <input type="text" id="dateve" name="dateve" class="form-control input-md" placeholder="Buscar en nombre...">
          </div>
          <div id="typ-ciudades" class="form-group col-sm-3">
              <input type="text" id="ciudeve" name="ciudeve" class="typeahead form-control input-md" placeholder="Buscar en Ciudad...">
          </div>
          <div class="form-group col-sm-3">
            <input type="month" id="fecheve" name="fecheve" class="form-control input-md" placeholder="Buscar por mes">
          </div>
          <div class="col-sm-3">
            <button type="submit" class="btn btn-sm btn-primary col-sm-3" style="width:100%"><i class="fa fa-fw fa-search"></i> Buscar</button>
          </div>
        </form>  
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="table-responsive">
          <table class="table table-hover table-bordered">
            <thead style="background-color:whitesmoke;">
              <tr>
                <th>Nombre</th><th>Ciudad</th><th>Fecha</th><th></th>
              </tr>
            </thead>
            <tbody style="background-color:rgb(231, 231, 231);">
            {% for evento in eventos %}
              <tr>
                <td>{{ evento.nombre }}</td>
                <td>{{ evento.ciudad }}, {{ evento.ciudad.estado }}</td>
                <td>{{ evento.fecha }}</td>
                <td><a href="/evento/{{evento.slug}}/" class="btn btn-info"><i class="fa fa-fw fa-plus"></i> Ver más</a></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{STATIC_URL}}js/type-ciudad.js"></script>
{% endblock %}