{% extends 'base.html' %}

{% block contenido %}
<div class="carcheck" style="padding-top:75px">
	<div class="container">
		<center><h1 style="color:white">Pedidos Realizados<i class="fa fa-fw fa-check-circle-o "></i></h1></center>
		<div class="table-responsive">
			<table class="table table-hover table-bordered">
				<thead style="background-color:whitesmoke;">
					<tr>
						<th>No. de Pedido</th><th>Fecha</th><th>Estado</th><th>Tipo de Pago</th><th>Total</th>
					</tr>
				</thead>
				<tbody style="background-color:rgb(231, 231, 231);">
					{% for p in pedidos %}
					<tr>
						<td>{{p.pk}}</td>
						<td>{{p.fecha}}</td>
						<td><span class="label label-success">{{p.pagado|yesno:'PAGADO,NO PAGADO'}}</span></td>
						<td>{{p.tipo_pago}}</td>
						<td>${{p.foto.precio}} MX</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}