{% extends 'base.html' %}

{% block contenido %}

<div class="carcheck" style="padding-top:75px">
	<div class="container">
		<center><h1 style="color:white">Registrate y forma parte de SportRecord</h1></center>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8" style="background-color:whitesmoke;margin-bottom:30px">
				<h3>Datos Personales</h3>
				<form id="datosP" role="form" class="datosCliente" style="padding-top: 14px" method="post">
					{% csrf_token %}
					<div class="form-group">
						<label>Nombre(s)</label>
						<input type="text" name="nombre" class="form-control" placeholder="Nombre(s)" required/>
					</div>
					<div class="form-group">
						<label>Apellidos</label>
						<input type="text" name="apellido" class="form-control" placeholder="Apellidos" required>
					</div>
					<div class="form-group">
						<label>Email</label>
						<input type="email" name="email" class="form-control" placeholder="Email" required>
					</div>
					<div class="form-inline">
						<div class="form-group">
							<label>Contraseña</label>
							<input type="password" name="password" class="form-control" placeholder="Contraseña" required/>
						</div>
						<div class="form-group">
							<label>Repetir Contraseña</label>
							<input type="password" name="password2" class="form-control" placeholder="Repetir Contraseña" required/>
						</div>
					</div>
					<br />
					<div class="form-group">
						<label>Telefono</label>
						<input type="tel" name="telefono" class="form-control" placeholder="Telefono" >
					</div>
				<button type="submit" class="btn btn-danger" style="float:right;margin-bottom:25px;"><h3><i class="fa fa-fw fa-check"></i>Registrarme</h3></button>
				</form>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</div>

{% endblock %}