{% extends 'base.html' %}

{% block contenido %}
<div class="title" style="margin-top:95px;">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>¿Cual será su forma de pago?</h1>
				<hr>
			</div>
		</div>
		<div class="row" style="padding-top:40px;padding-bottom:30px">
			<a href="">
				<div class="col-xs-6 pag">
					<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">

						{% for k, v in paypals.items %}
							<input type="hidden" name="{{k}}" value="{{v}}">
						{% endfor %}

						<input type="image" src="{{STATIC_URL}}img/paypal.png" style="width:100%" />
						<h4>Ingrese con su cuenta de Paypal y realize su pago.</h4>
						<h4>También puede realizar su pago como invitado.</h4>

					</form>
				</div>
			</a>
			<a href="">
				<div class="col-xs-6 pag">
					<img src="{{STATIC_URL}}img/payu.png" style="width:100%" />
					<h4>Con Payu Latam podra pagar en:</h4>
					<img src="{{STATIC_URL}}img/medpayu.png"/>
				</div>
			</a>
		</div>
	</div>
</div>
{% endblock %}